
.mediaViewInfo {
	--web-view-name: Website Dashboard;
	--web-view-id: Website_Dashboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Website_Dashboard;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Website_Dashboard {
	position: absolute;
	width: 1400px;
	height: 799px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Path_1092 {
	fill: rgba(205,205,205,1);
}
.Path_1092 {
	overflow: visible;
	position: absolute;
	width: 1400px;
	height: 799px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Header {
	position: absolute;
	width: 1400px;
	height: 183.365px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_1541 {
	position: absolute;
	width: 1400px;
	height: 183.365px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Header_-_Desktop {
	position: absolute;
	width: 1400px;
	height: 183.365px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#base_ {
	fill: url(#base_);
}
.base_ {
	overflow: visible;
	position: absolute;
	width: 1400px;
	height: 183.365px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#DASHBOARD {
	left: 301px;
	top: 25px;
	position: absolute;
	overflow: visible;
	width: 86px;
	white-space: nowrap;
	cursor: pointer;
	line-height: 20px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(204,204,204,1);
	text-decoration: none;
}
#DASHBOARD:link{
	color: rgba(204,204,204,1);
}
#DASHBOARD:visited{
	color: rgba(204,204,204,1);
}
#DASHBOARD:hover{
	opacity: 1;
}
#HELP {
	opacity: 0.7;
	left: 1116px;
	top: 25px;
	position: absolute;
	overflow: visible;
	width: 36px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(204,204,204,1);
	text-decoration: none;
}
#HELP:link{
	color: rgba(204,204,204,1);
}
#HELP:visited{
	color: rgba(204,204,204,1);
}
#HELP:hover{
	opacity: 1;
}
#BOOK_RIDE {
	opacity: 0.7;
	left: 443px;
	top: 25px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(204,204,204,1);
	text-decoration: none;
}
#BOOK_RIDE:link{
	color: rgba(204,204,204,1);
}
#BOOK_RIDE:visited{
	color: rgba(204,204,204,1);
}
#BOOK_RIDE:hover{
	opacity: 1;
}
#LOG_OUT {
	opacity: 0.7;
	left: 1210px;
	top: 25px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	cursor: pointer;
	line-height: 20px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(204,204,204,1);
	text-decoration: none;
}
#LOG_OUT:link{
	color: rgba(204,204,204,1);
}
#LOG_OUT:visited{
	color: rgba(204,204,204,1);
}
#LOG_OUT:hover{
	opacity: 1;
}
#Group_6 {
	position: absolute;
	width: 92px;
	height: 30px;
	left: 130px;
	top: 20px;
	overflow: visible;
}
.btn_EScooter {
	background: inherit;
	border: none;
	left: 18px;
	top: 5px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Sharp Sans No1;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
	cursor: pointer;
}
#scooter_white {
	position: absolute;
	width: 29px;
	height: 30px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_1540 {
	position: absolute;
	width: 1110.5px;
	height: 55px;
	left: 149px;
	top: 129px;
	overflow: visible;
}
#DASHBOARD_bf {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 228px;
	white-space: nowrap;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(68,73,79,1);
}
#Line_7 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_7 {
	overflow: visible;
	position: absolute;
	width: 1110px;
	height: 2px;
	left: 0.5px;
	top: 54.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1538 {
	position: absolute;
	width: 1145px;
	height: 542px;
	left: 131px;
	top: 209px;
	overflow: visible;
}
#Rectangle_1488 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1488 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1163px;
	height: 560px;
	left: 0px;
	top: 0px;
}
#Group_1542 {
	position: absolute;
	width: 228px;
	height: 225px;
	left: 332px;
	top: 225px;
	overflow: visible;
}
#Active_Orders {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 222px;
	white-space: nowrap;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(89,89,89,1);
}
#Order_Number_4 {
	left: 0px;
	top: 57px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Hours_1 {
	left: 0px;
	top: 92px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Price_5 {
	left: 0px;
	top: 127px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Date_17-3-2022_1336 {
	left: 0px;
	top: 162px;
	position: absolute;
	overflow: visible;
	width: 176px;
	white-space: nowrap;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Expiry_Date_17-3-2022_1436 {
	left: 0px;
	top: 197px;
	position: absolute;
	overflow: visible;
	width: 229px;
	white-space: nowrap;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Group_1543 {
	position: absolute;
	width: 217px;
	height: 260px;
	left: 862px;
	top: 225px;
	overflow: visible;
}
#Order_History {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 218px;
	white-space: nowrap;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(89,89,89,1);
}
#Order_Number_3 {
	left: 0px;
	top: 57px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Hours_26 {
	left: 0px;
	top: 92px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Price_130 {
	left: 0px;
	top: 127px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Date_9-3-2022_2331 {
	left: 0px;
	top: 162px;
	position: absolute;
	overflow: visible;
	width: 168px;
	white-space: nowrap;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Expiry_Date_11-3-2022_131 {
	left: 0px;
	top: 197px;
	position: absolute;
	overflow: visible;
	width: 211px;
	white-space: nowrap;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Cancelled_Order {
	left: 0px;
	top: 232px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Group_1514 {
	position: absolute;
	width: 79px;
	height: 33px;
	left: 332px;
	top: 467px;
	overflow: visible;
}
.btn-primary {
	position: absolute;
	overflow: visible;
	width: 79px;
	height: 33px;
	background-color: rgba(43,48,54,1);
	white-space: nowrap;
	text-align: center;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
	border-radius: 4px;
	cursor: pointer;
}
#Group_1564 {
	position: absolute;
	width: 47px;
	height: 33px;
	left: 429px;
	top: 508px;
	overflow: visible;
}
.btn-secondary {
	position: absolute;
	overflow: visible;
	width: 47px;
	height: 33px;
	background-color: rgba(43,48,54,1);
	white-space: nowrap;
	text-align: center;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
	border-radius: 4px;
	cursor: pointer;

}