.mediaViewInfo {
	--web-view-name: Website Main;
	--web-view-id: Website_Main;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Website_Main;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
html{
	scroll-behavior: smooth;
}
#Website_Main {
	position: absolute;
	width: 1400px;
	height: 1833px;
	background-color: rgba(255,255,255);
	overflow: hidden;
	--web-view-name: Website Main;
	--web-view-id: Website_Main;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Rectangle_664 {
	fill: rgba(157,157,157,1);
}
.Rectangle_664 {
	position: absolute;
	overflow: visible;
	width: 1400px;
	height: 800px;
	left: 0px;
	top: 852px;
}
#Front_Page {
	position: absolute;
	width: 1400px;
	height: 934px;
	left: 0px;
	top: -54px;
	overflow: visible;
}
#Image_2 {
	position: absolute;
	width: 1400px;
	height: 934px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_11 {
	opacity: 0.4;
	fill: rgba(36,41,47,1);
}
.Path_11 {
	overflow: visible;
	position: absolute;
	width: 1400px;
	height: 880px;
	left: 0px;
	top: 54px;
	transform: matrix(1,0,0,1,0,0);
}
.Header {
	position: absolute;
	width: 1400px;
	height: 183.365px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Header_-_Desktop {
	position: absolute;
	width: 1400px;
	height: 183.365px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.sticky {
	position: fixed;
	top:0;
	width: 100%;
}
.content{
	padding: 16px;
}
.sticky + .content {
	padding-top: 109px
}
#base_r {
	fill: url(#base_r);
}
.base_r {
	overflow: visible;
	position: absolute;
	width: 1400px;
	height: 183.365px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#HOME {
	left: 571px;
	top: 26px;
	position: absolute;
	overflow: visible;
	width: 30px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -4.5px;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(204,204,204,1);
	text-decoration: none;
}
#HOME:link{
	color: rgba(204,204,204,1);
}
#HOME:visited{
	color: rgba(204,204,204,1);
}
#HOME:hover{
	opacity: 1;
}
#PRICING {
	opacity: 0.7;
	left: 708px;
	top: 26px;
	position: absolute;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -4.5px;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(204,204,204,1);
	text-decoration: none;
}
#PRICING:link{
	color: rgba(204,204,204,1);
}
#PRICING:visited{
	color: rgba(204,204,204,1);
}
#PRICING:hover{
	opacity: 1;
}
#CONTACT {
	opacity: 0.7;
	left: 776px;
	top: 26px;
	position: absolute;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -4.5px;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(204,204,204,1);
	text-decoration: none;
}
#CONTACT:link{
	color: rgba(204,204,204,1);
}
#CONTACT:visited{
	color: rgba(204,204,204,1);
}
#CONTACT:hover{
	opacity: 1;
}
#ABOUT_US {
	opacity: 0.7;
	left: 629px;
	top: 26px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -4.5px;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(204,204,204,1);
	text-decoration: none;
}
#ABOUT_US:link{
	color: rgba(204,204,204,1);
}
#ABOUT_US:visited{
	color: rgba(204,204,204,1);
}
#ABOUT_US:hover{
	opacity: 1;
}
#MY_ACCOUNT{
	opacity: 0.7;
	left: 1196px;
	top: 26px;
	position: absolute;
	width: 68px;
	overflow: visible;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -4.5px;
	text-align: center;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(204,204,204,1);
	text-decoration: none;
}
#MY_ACCOUNT:link{
	color: rgba(204,204,204,1);
}
#MY_ACCOUNT:visited{
	color: rgba(204,204,204,1);
}
#MY_ACCOUNT:hover{
	opacity: 1;
}
#Group_6 {
	position: absolute;
	width: 92px;
	height: 30px;
	left: 130px;
	top: 20px;
	overflow: visible;
}
.btn_EScooter {
	background: inherit;
	border: none;
	left: 18px;
	top: 5px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Sharp Sans No1;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
	cursor: pointer;
}
#scooter_white {
	position: absolute;
	width: 29px;
	height: 30px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Icon_awesome-search {
	fill: rgba(93,93,93,1);
}
.Icon_awesome-search {
	overflow: visible;
	position: absolute;
	width: 17.343px;
	height: 17.346px;
	left: 0px;
	top: 60.687px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_1 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 298px;
	height: 1px;
	left: 0.447px;
	top: 84.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Book_Your_Ride {
	left: 81px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 243px;
	height: 41px;
	line-height: 32px;
	margin-top: -1px;
	text-align: center;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(93,93,93,1);
	letter-spacing: 0.1px;
}
input[type=text]{
	width: 100%;
	box-sizing: border-box;
	border: 0px solid #ccc;
	border-radius:4px;
	font-size: 20px;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	background: inherit;
	width: 298px;
	padding-left: 30px;
	outline: none;
}
#Find_a_pick-up_point {
	left: 0px;
	top: 5px;
	position: absolute;
	overflow: visible;
	width: 173px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -6px;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(93,93,93,1);
	letter-spacing: 0.5px;
}
#Confirm_Booking {
	left: 882px;
	top: 1348px;
	position: absolute;
	overflow: visible;
	width: 213px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -1px;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(93,93,93,1);
	letter-spacing: 0.1px;
}
#Icon_ionic-ios-pin {
	fill: rgba(19,88,90,1);
}
.Icon_ionic-ios-pin {
	filter: drop-shadow(0px 3px 6px rgba(255, 0, 0, 0.251));
	overflow: visible;
	position: absolute;
	width: 38.25px;
	height: 47.25px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Pick-Up {
	filter: drop-shadow(0px 3px 6px rgba(93, 93, 93, 1));
	left: 28px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -6px;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(55,55,55,1);
	letter-spacing: 0.2px;
}
#Footer_-_Desktop {
	position: absolute;
	width: 1800px;
	height: 200px;
	left: -200px;
	top: 1635px;
	overflow: visible;
}
#base_bs {
	fill: rgba(147,147,147,1);
}
.base_bs {
	position: absolute;
	overflow: visible;
	width: 1800px;
	height: 200px;
	left: 0px;
	top: 0px;
}
#main {
	position: absolute;
	width: 272px;
	height: 87px;
	left: 420px;
	top: 54px;
	overflow: visible;
}
#Home {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(203,208,211,1);
	letter-spacing: 0.5px;
}
#About {
	left: 100px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 36px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(203,208,211,1);
	letter-spacing: 0.5px;
}
#Testimonials {
	left: 200px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(203,208,211,1);
	letter-spacing: 0.5px;
}
#Pricing {
	left: 0px;
	top: 46px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(203,208,211,1);
	letter-spacing: 0.5px;
}
#Terms {
	left: 100px;
	top: 46px;
	position: absolute;
	overflow: visible;
	width: 36px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(203,208,211,1);
	letter-spacing: 0.5px;
}
#Integrations {
	left: 200px;
	top: 46px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(203,208,211,1);
	letter-spacing: 0.5px;
}
#Contact {
	left: 0px;
	top: 69px;
	position: absolute;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(203,208,211,1);
	letter-spacing: 0.5px;
}
#Guidlines {
	left: 100px;
	top: 69px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(203,208,211,1);
	letter-spacing: 0.5px;
}
#Careers {
	left: 200px;
	top: 69px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(203,208,211,1);
	letter-spacing: 0.5px;
}
#Bookings {
	left: 0px;
	top: 23px;
	position: absolute;
	overflow: visible;
	width: 54px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(203,208,211,1);
	letter-spacing: 0.5px;
}
#Help {
	left: 100px;
	top: 23px;
	position: absolute;
	overflow: visible;
	width: 28px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(203,208,211,1);
	letter-spacing: 0.5px;
}
#Advertise {
	left: 200px;
	top: 23px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(203,208,211,1);
	letter-spacing: 0.5px;
}
#subscribe {
	position: absolute;
	width: 260px;
	height: 56px;
	left: 920px;
	top: 58px;
	overflow: visible;
}
#field {
	opacity: 0.35;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.field {
	overflow: visible;
	position: absolute;
	width: 260px;
	height: 40px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#send {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 224px;
	top: 12px;
	overflow: visible;
}
#send_b {
	fill: rgba(255,255,255,1);
}
.send_b {
	overflow: visible;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Email {
	opacity: 0.5;
	left: 20px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 37px;
	height: 22px;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#Stay_in_touch_for_latest_updat {
	left: 60px;
	top: 44px;
	position: absolute;
	overflow: hidden;
	width: 141px;
	height: 12px;
	line-height: 20px;
	margin-top: -4.5px;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(203,208,211,1);
}
#Social {
	position: absolute;
	width: 160px;
	height: 16.001px;
	left: 1320px;
	top: 56px;
	overflow: visible;
}
#web {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 144px;
	top: 0px;
	overflow: visible;
}
#Path_4 {
	fill: rgba(255,255,255,1);
}
.Path_4 {
	overflow: visible;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#instagram {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_3 {
	fill: rgba(255,255,255,1);
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#twitter {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 48px;
	top: 0px;
	overflow: visible;
}
#Rectangle_393 {
	fill: transparent;
}
.Rectangle_393 {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
}
#Path_2 {
	fill: rgba(255,255,255,1);
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 16px;
	height: 12.978px;
	left: 0px;
	top: 1.999px;
	transform: matrix(1,0,0,1,0,0);
}
#facebook {
	position: absolute;
	width: 16px;
	height: 16.001px;
	left: 96px;
	top: 0px;
	overflow: visible;
}
#Rectangle_392 {
	fill: transparent;
}
.Rectangle_392 {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
}
#Path_1 {
	fill: rgba(255,255,255,1);
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 8.355px;
	height: 16px;
	left: 4px;
	top: 0.001px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_15 {
	position: absolute;
	width: 29px;
	height: 30px;
	left: 130px;
	top: 1720px;
	overflow: visible;
}
#scooter_white_co {
	position: absolute;
	width: 29px;
	height: 30px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Input {
	position: absolute;
	width: 111px;
	height: 48px;
	left: 283px;
	top: 1163px;
	overflow: visible;
}
#Path_209 {
	fill: transparent;
	stroke: rgba(93,93,93,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_209 {
	overflow: visible;
	position: absolute;
	width: 111px;
	height: 48px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Arrow_Small_Down__1 {
	position: absolute;
	width: 9.4px;
	height: 6.1px;
	left: 98px;
	top: 21.95px;
	overflow: visible;
}
#Path_36 {
	fill: rgba(93,93,93,1);
}
.Path_36 {
	overflow: visible;
	position: absolute;
	width: 9.4px;
	height: 6.1px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Reimagine_Mobility {
	left: 242px;
	top: 331px;
	position: absolute;
	overflow: visible;
	width: 269px;
	white-space: nowrap;
	text-align: left;
	font-family: Sharp Sans No1;
	font-style: normal;
	font-weight: lighter;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#EScooter_One {
	left: 203px;
	top: 249px;
	position: absolute;
	overflow: visible;
	width: 383px;
	white-space: nowrap;
	text-align: left;
	font-family: Sharp Sans No1;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#Group_16 {
	position: absolute;
	width: 226px;
	height: 55px;
	left: 263px;
	top: 483px;
	overflow: visible;
}
.btn_Rectangle_665 {
	position: absolute;
	overflow: visible;
	width: 226px;
	height: 55px;
	left: 0px;
	top: 0px;
	background-color: rgba(38,43,49,1);
	border: 1px solid black;
	border-color: rgba(112,112,112,1);
	border-width: 1px;
	border-linejoin: miter;
	border-linecap: butt;
	border-miterlimit: 4;
	shape-rendering: auto;
	border-radius: 25px;
	cursor: pointer;
}
.btn_Book_Now {
	background-color: inherit;
	left: 50px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -1px;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: lighter;
	font-size: 30px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.5px;
	cursor: pointer;
}
#Group_1516 {
	position: absolute;
	width: 211px;
	height: 32px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1482 {
	fill: rgba(39,44,50,1);
}
.Rectangle_1482 {
	position: absolute;
	overflow: visible;
	width: 211px;
	height: 32px;
	left: 0px;
	top: 0px;
}
#Proceed_To_Payment {
	left: 37px;
	top: 5px;
	position: absolute;
	overflow: visible;
	width: 137px;
	white-space: nowrap;
	text-align: center;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#Group_1537 {
	position: absolute;
	width: 1450px;
	height: 838px;
	left: 0px;
	top: 535px;
	overflow: visible;
}
#Group_1558 {
	position: absolute;
	width: 1450px;
	height: 838px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Image_1 {
	position: absolute;
	width: 1450px;
	height: 838px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_1547 {
	position: absolute;

	width: 99.095px;
	height: 37.707px;
	left: 749px;
	top: 485.519px;
	overflow: visible;
}
#Icon_ionic-ios-pin {
	fill: rgba(19,88,90,1);
}
.Icon_ionic-ios-pin {
	filter: drop-shadow(0px 3px 6px rgba(255, 0, 0, 0.251));
	overflow: visible;
	position: absolute;
	width: 44.104px;
	height: 55.707px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Pick-Up {
	filter: drop-shadow(0px 3px 6px rgba(93, 93, 93, 0.8));
	left: 45.095px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	line-height: 29px;
	margin-top: -5px;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(55,55,55,1);
	letter-spacing: 0.2px;
}
#Group_1550 {
	position: absolute;
	width: 99.095px;
	height: 37.707px;
	left: 625.905px;
	top: 716.519px;
	overflow: visible;
}
#Icon_ionic-ios-pin_ba {
	fill: rgba(19,88,90,1);
}
.Icon_ionic-ios-pin_ba {
	filter: drop-shadow(0px 3px 6px rgba(255, 0, 0, 0.251));
	overflow: visible;
	position: absolute;
	width: 44.104px;
	height: 55.707px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Pick-Up_bb {
	filter: drop-shadow(0px 3px 6px rgba(93, 93, 93, 0.8));
	left: 45.095px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	line-height: 29px;
	margin-top: -5px;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(55,55,55,1);
	letter-spacing: 0.2px;
}
#Group_1551 {
	position: absolute;
	width: 99.095px;
	height: 37.707px;
	left: 533.409px;
	top: 473.519px;
	overflow: visible;
}
#Icon_ionic-ios-pin_bd {
	fill: rgba(19,88,90,1);
}
.Icon_ionic-ios-pin_bd {
	filter: drop-shadow(0px 3px 6px rgba(255, 0, 0, 0.251));
	overflow: visible;
	position: absolute;
	width: 44.104px;
	height: 55.707px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Pick-Up_be {
	filter: drop-shadow(0px 3px 6px rgba(93, 93, 93, 0.8));
	left: 45.095px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	line-height: 29px;
	margin-top: -5px;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(55,55,55,1);
	letter-spacing: 0.2px;
}
#Group_1552 {
	position: absolute;
	width: 99.095px;
	height: 37.707px;
	left: 541px;
	top: 381.293px;
	overflow: visible;
}
#Icon_ionic-ios-pin_bg {
	fill: rgba(19,88,90,1);
}
.Icon_ionic-ios-pin_bg {
	filter: drop-shadow(0px 3px 6px rgba(255, 0, 0, 0.251));
	overflow: visible;
	position: absolute;
	width: 44.104px;
	height: 55.707px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Pick-Up_bh {
	filter: drop-shadow(0px 3px 6px rgba(93, 93, 93, 0.8));
	left: 45.095px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	line-height: 29px;
	margin-top: -5px;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(55,55,55,1);
	letter-spacing: 0.2px;
}
#Group_1562 {
	position: absolute;
	width: 99.095px;
	height: 37.707px;
	left: 749px;
	top: 630.519px;
	overflow: visible;
}
#Icon_ionic-ios-pin_bk {
	fill: rgba(19,88,90,1);
}
.Icon_ionic-ios-pin_bk {
	filter: drop-shadow(0px 3px 6px rgba(255, 0, 0, 0.251));
	overflow: visible;
	position: absolute;
	width: 44.104px;
	height: 55.707px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Pick-Up_bl {
	filter: drop-shadow(0px 3px 6px rgba(93, 93, 93, 0.8));
	left: 45.095px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	line-height: 29px;
	margin-top: -5px;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(55,55,55,1);
	letter-spacing: 0.2px;
}
#Front_Page {
	position: absolute;
	width: 1400px;
	height: 934px;
	left: 0px;
	top: -54px;
	overflow: visible;
}
#Image_2 {
	position: absolute;
	width: 1400px;
	height: 934px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_11 {
	opacity: 0.4;
	fill: rgba(36,41,47,1);
}
.Path_11 {
	overflow: visible;
	position: absolute;
	width: 1400px;
	height: 880px;
	left: 0px;
	top: 54px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_15 {
	position: absolute;
	width: 29px;
	height: 30px;
	left: 130px;
	top: 1720px;
	overflow: visible;
}
#scooter_white {
	position: absolute;
	width: 29px;
	height: 30px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1489 {
	fill: rgba(255,255,255,1);
}
.Rectangle_1489 {
	position: absolute;
	overflow: visible;
	width: 1400px;
	height: 309px;
	left: 0px;
	top: 1326px;
}
#Book_Your_Ride {
	left: 113px;
	top: 1385px;
	position: absolute;
	overflow: visible;
	width: 243px;
	height: 41px;
	line-height: 32px;
	margin-top: -1px;
	text-align: center;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(93,93,93,1);
	letter-spacing: 0.1px;
}
#Group_1554 {
	position: absolute;
	width: 298.5px;
	height: 30.5px;
	left: 85px;
	top: 1450px;
	overflow: visible;
}
#Icon_awesome-search {
	fill: rgba(93,93,93,1);
}
.Icon_awesome-search {
	overflow: visible;
	position: absolute;
	width: 17.238px;
	height: 17.239px;
	left: 0px;
	top: 7px;
	transform: matrix(1,0,0,1,0,0);
}
#Find_a_pick-up_point {
	left: 28px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 173px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -6px;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(93,93,93,1);
	letter-spacing: 0.5px;
}
#Line_1 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;


}
.Line_1 {
	overflow: visible;


	position: absolute;
	width: 298px;
	height: 1px;
	left: 0.5px;
	top: 30.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Confirm_Booking {
	left: 1068px;
	top: 1385px;
	position: absolute;
	overflow: visible;
	width: 213px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -1px;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(93,93,93,1);
	letter-spacing: 0.1px;

}
#Group_1557 {
	position: absolute;
	width: 211px;
	height: 32px;
	left: 1069px;
	top: 1531px;
	overflow: visible;
}
#Group_1516 {
	position: absolute;
	width: 211px;
	height: 32px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1482 {
	fill: rgba(39,44,50,1);
}
.Rectangle_1482 {
	position: absolute;
	overflow: visible;
	width: 211px;
	height: 32px;
	left: 0px;
	top: 0px;
}
#Proceed_To_Payment {
	left: 37px;
	top: 5px;
	position: absolute;
	overflow: visible;
	width: 137px;
	white-space: nowrap;
	text-align: center;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#Availability {
	left: 579px;
	top: 1385px;
	position: absolute;
	overflow: visible;
	width: 243px;
	height: 41px;
	line-height: 32px;
	margin-top: -1px;
	text-align: center;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(93,93,93,1);
	letter-spacing: 0.1px;
}
#Scooters_Available__1 {
	left: 538px;
	top: 1453px;
	position: absolute;
	overflow: visible;
	width: 188px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -6px;
	text-align: center;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(93,93,93,1);
	letter-spacing: 0.5px;
}
#Input {
	position: absolute;
	width: 111px;
	height: 48px;
	left: 645px;
	top: 1523px;
	overflow: visible;
}
#Path_209 {
	fill: transparent;
	stroke: rgba(93,93,93,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_209 {
	overflow: visible;
	position: absolute;
	width: 111px;
	height: 48px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.n__Hours {
	left: 1120px;
	top: 1453px;
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 48px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(93,93,93,1);
	border: solid;
	border-color: rgba(112,112,112,1);
	border-width: 1px;
	outline: none;
	border-radius: 3px;
}
#Arrow_Small_Down__1 {
	position: absolute;
	width: 9px;
	height: 6px;
	left: 98px;
	top: 22px;
	overflow: visible;
}
#Path_36 {
	fill: rgba(93,93,93,1);
}
.Path_36 {
	overflow: visible;
	position: absolute;
	width: 9.4px;
	height: 6.1px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Total_Price__5 {
	left: 1108px;
	top: 1453px;
	position: absolute;
	overflow: visible;
	width: 136px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -6px;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(93,93,93,1);
	letter-spacing: 0.5px;
}
.dropbtn {
	width: 298px;
	height: 40px;
	left: 5px;
	top: -18.5px;
	padding-left: 23px;
	background-color: inherit;
	border: none;
	cursor: pointer;
	position: absolute;
	overflow: visible;
	width: 282px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -6px;
	text-align: left;
	font-family: Halyard Display;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(93,93,93,1);
	letter-spacing: 0.5px;
	border-color: rgba(112,112,112,1);
	border-width: 1px;
	border-linejoin: miter;
	border-linecap: butt;
	border-miterlimit: 4;
	shape-rendering: auto;
	border-radius: 5px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: inherit;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0px;
  top: 25px;
  background-color: white;
  min-width: 298px;
  overflow: auto;
  text-align: center;
  font-family: Halyard Display;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgba(93,93,93,1);
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

