{% extends "base.html" %}
{% block content %}

  <head>
    <title>Payment</title>
  </head>
  <body>
    <div class = 'container'>
      <div class = 'row'>
        <div class = 'col'>
          
          <h1> Booking a scooter from: {{location }}</h1>
        </div>
        <div class = 'col'>
          <h1>Payment!</h1>
          <div class="form-wrapper">
            <form method="POST" class="form">
              {{ form.hidden_tag() }}
              
              <fieldset class="form-field">
                {{ form.name.label(class = "form-label")}}
                {{ form.name}}
                {% for error in form.name.errors %}
                  <li class='error-message'>{{ error }}</li>
                {% endfor %}
              </fieldset>
      
              <fieldset class="form-field">
                {{ form.card_number.label(class = "form-label")}}
                {{ form.card_number}}
                {% for error in form.card_number.errors %}
                  <li class='error-message'>{{ error }}</li>
                {% endfor %}
              </fieldset>
      
              <fieldset class="form-field">
                {{ form.expiry_date.label(class = "form-label")}}
                {{ form.expiry_date}}
                {% for error in form.expiry_date.errors %}
                  <li class='error-message'>{{ error }}</li>
                {% endfor %}
              </fieldset>
      
              <fieldset class="form-field">
                {{ form.cvv.label(class = "form-label")}}
                {{ form.cvv}}
                {% for error in form.cvv.errors %}
                  <li class='error-message'>{{ error }}</li>
                {% endfor %}
              </fieldset>

              <br>
              <h1>Billing details</h1>

              <fieldset class="form-field">
                {{ form.address_line_1.label(class = "form-label")}}
                {{ form.address_line_1}}
              </fieldset>

              <fieldset class="form-field">
                {{ form.address_line_2.label(class = "form-label")}}
                {{ form.address_line_2}}
              </fieldset>

              <fieldset class="form-field">
                {{ form.city.label(class = "form-label")}}
                {{ form.city}}
              </fieldset>

              <fieldset class="form-field">
                {{ form.postcode.label(class = "form-label")}}
                {{ form.postcode}}
              </fieldset>

              <fieldset class="form-field">
                {{ form.country.label(class = "form-label")}}
                {{ form.country}}
              </fieldset>


              
              {{ form.submit (class = "btn btn-primary") }}
      
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>


{% endblock content %}