{% extends "staff_base.html" %}
{% block content %}

<head>
    <title>StaffBooking</title>
</head>
<body>
    <h1 style="color:rgba(68,73,79,1);">Create a booking</h1>
	<svg class="Line_7" viewBox="0 0 1110 2" preserveAspectRatio="none">
			<path id="Line_7" d="M 0 0 L 1110 0">
			</path>
	</svg>
	<div class = 'container'>
		<div class = 'row'>
		  <div class = 'col'>
			<h1> Choose a location:</h1>		
				<div class="custom-select">
					<select id="myDropdown">
						<option value= "0">Pick-Up Location</option>
						<option value= "1">Trinity Centre</option>
						<option value= "2">Leeds Train Station</option>
						<option value= "3">Merrion Centre</option>
						<option value= "4">LRI Hospital</option>
						<option value= "5">UoL Edge Sports Centre</option>
					</select>
				</div>
				<p> There are:
					<span class="output"></span>
				</p>
			 
				 
				<script type="text/javascript">
				function getOption() {
					var count = {{count|tojson }};
					selElmnt = document.querySelector('#myDropdown');
					output = (count[(selElmnt.selectedIndex)-1]);
					document.querySelector('.output').textContent = output;
				}
				document.addEventListener("click", getOption);
				</script>
		  </div>
		  <div class = 'col'>
			<h1>Payment!</h1>
			<div class="form-wrapper">
			  <form method="POST" class="form">
				{{ form.hidden_tag() }}

				<fieldset class="form-field">
					{{ form.email.label(class = "form-label")}}
					{{ form.email }}
				  </fieldset>
	
				<fieldset class="form-field">
				  {{ form.hire_period.label(class = "form-label")}}
				  {{ form.hire_period }}
				</fieldset>
  
				<br>
				
				<fieldset class="form-field">
				  {{ form.name.label(class = "form-label")}}
				  {{ form.name}}
				  {% for error in form.name.errors %}
					<li class='error-message'>{{ error }}</li>
				  {% endfor %}
				</fieldset>
		
				<fieldset class="form-field">
				  {{ form.card_number.label(class = "form-label")}}
				  {{ form.card_number}}
				  {% for error in form.card_number.errors %}
					<li class='error-message'>{{ error }}</li>
				  {% endfor %}
				</fieldset>
		
				<fieldset class="form-field">
				  {{ form.expiry_date.label(class = "form-label")}}
				  {{ form.expiry_date}}
				  {% for error in form.expiry_date.errors %}
					<li class='error-message'>{{ error }}</li>
				  {% endfor %}
				</fieldset>
		
				<fieldset class="form-field">
				  {{ form.cvv.label(class = "form-label")}}
				  {{ form.cvv}}
				  {% for error in form.cvv.errors %}
					<li class='error-message'>{{ error }}</li>
				  {% endfor %}
				</fieldset>
  
				<br>
				<h1>Billing details</h1>
  
				<fieldset class="form-field">
				  {{ form.address_line_1.label(class = "form-label")}}
				  {{ form.address_line_1}}
				</fieldset>
  
				<fieldset class="form-field">
				  {{ form.address_line_2.label(class = "form-label")}}
				  {{ form.address_line_2}}
				</fieldset>
  
				<fieldset class="form-field">
				  {{ form.city.label(class = "form-label")}}
				  {{ form.city}}
				</fieldset>
  
				<fieldset class="form-field">
				  {{ form.postcode.label(class = "form-label")}}
				  {{ form.postcode}}
				</fieldset>
  
				<fieldset class="form-field">
				  {{ form.country.label(class = "form-label")}}
				  {{ form.country}}
				</fieldset>

				{{ form.submit (class = "btn btn-primary") }}
		
			  </form>
			</div>
		  </div>
		</div>
	  </div>
  
	<br></br>

</body>

{% endblock content %}